* {
    margin: 0;
}

.banner {
    background-color: #87D83D;
    display: flex;
    justify-content: space-between;
}

.banner li {
    list-style: none;
    color: white;
    padding: 5px 10px;
    align-items: center;
}

.banner-left {
    display: flex;
    align-items: center;

}

.icon {
    display: inline-flex;
    vertical-align: middle;
}

.banner-button {
    border: none;
    background: none;
    color: white;
}

.lr-button {
    border-left: 1px solid #5b9029;
    border-right: 1px solid #5b9029;
    padding: 0px 25px;
}

/* Banner seciton style */

.logo {
    font-family: 'Kaushan Script', cursive;
    text-shadow: 1px 1px #ffffff;
}

.logo-color {
    color: #87D83D;
}



.nav-bar-section {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: rgb(240, 240, 240);
}

.nav-bar-ul {
    display: flex;
}

.nav-bar-ul li {
    list-style: none;
    padding: 0px 20px;
}

.nav-button {
    border: none;
    background: none;

}

.view-card-button {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background: none;
    border: 1px solid #87D83D;
    padding: 5px 20px;
}

.view-card-button:active {
    background-color: #87D83D;
    color: white;
}

/* logo nav bar section */

.navigation-sec {
    display: flex;
    align-items: center;
    background-color: #333333;
    justify-content: space-between;
}

.navi-list li:hover {
    background-color: #87D83D;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.navi-list {
    display: flex;
    align-items: center;
}

.navi-list li {
    list-style: none;
    padding: 10px 20px;


}

.navi-list a {
    text-decoration: none;
    color: #ffffff;
}

.search-icon {
    /* padding: 0px 30px; */
    background-color: #87D83D;
    padding: 15px 15px;
    margin-right: 50px;

}



/* navigation section */

.hero-section {
    background-image: url(icons/cover\ image.png);
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 0px 50px;
}

.hero-text {
    color: white;
}

.start-now-button {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background: none;
    border: 1px solid #87D83D;
    padding: 5px 20px;
    color: white;
}

.start-now-button:hover {
    background-color: #87D83D;

}

.start-now-button:active {
    background-color: white;
    color: black;
}

/* hero section */

.reg-domain-section {
    text-align: center;
    margin: 30px 0px;
}

.input {
    padding: 20px 0px;
}

.domain-searchbar {
    width: 300px;
    height: 36px;
    border: 1px solid #87D83D;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.domain-searchbar:active {
    background-color: #87D83D;

}

.domain-option {
    width: 100px;
    height: 40px;
    border: 1px solid #87D83D;
    position: relative;
    right: 10px;
}

.domain {}

.domain-ext {}

.reg-domain-button {
    border: none;
    background-color: #87D83D;
    position: relative;
    right: 15px;
    height: 40px;
    padding: 10px 20px;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.domain-list {
    background-color: #F5F5F5;
    margin: 20px 100px;
}

.domain-list-item {
    display: flex;
    justify-content: space-around;

}

.domain-list li {
    list-style: none;

}

.domain-list a {
    text-decoration: none;
    color: black;
}

.small-text {
    font-size: 10px;
}

/* register Doamin */
.popular-pack {
    text-align: center;
    background-color: rgb(238, 235, 235);
    padding: 50px;
}

.pack-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.pack-card-1 {
    margin: 0px 30px;
    background-color: white;
    box-shadow: 5px 5px 5px lightgray;

}

.pack-text {
    padding: 20px 0px;
    background-color: #88d83d4f;

}

.pack-details li {
    list-style: none;
    padding: 5px 0px;
}

.pack-price {
    padding: 20px 0px;
    background-color: lightgray;
}

.card-button {
    color: black;
    margin: 20px 0px;
}

/* popular pricing package */

.service-section {
    text-align: center;
    padding: 50px;
}

.service-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.service-card-1 {
    margin: 0px 30px;
    background-color: #F5F5F5;
    box-shadow: 1px 1px 5px lightgray;
    padding: 50px 30px;
}

.circle-icon {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: -5px -4px 8px gray;
    padding: 50px;
    background-color: white;

}

/* our service */

.ad-section {
    text-align: center;
    background-color: honeydew;
    padding: 50px 400px;
}

.get-touch-class {
    text-decoration: none;
    color: #87D83D;
}

/* ad section */
.review-section {
    padding: 100px 50px;
    text-align: center;

}

.review {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    background-color: honeydew;
    padding: 50px 0px;
    box-shadow: 2px 2px 3px lightgray;
}

.review h2 {
    font-size: 50px;
}

/* review Section */
footer {
    background-color: #333333;
    padding: 60px 50px;
}

.footer-lists {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.footer-list li {
    list-style: none;
    position: relative;
    right: 40px;
}

.quicklink {
    padding: 50px;
    background-color: lightgray;
}

.email-box {
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: none;
}

.quicklink button {
    color: black;
}

/* complete */